html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
}

h1 {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

#root {
  background-image: url(../assets/webb-dark.png);
  background-attachment: fixed;
  min-height: 100vh;
}

/* HEADER */

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.header img {
  width: 3rem;
}

.header h1 {
  grid-column: 3/5;
}

/* MAIN SECTION */

.grid-fluid {
  margin: 1rem auto 0rem auto;
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 1rem;
}
/* Loader */

.loader {
  margin: 1rem auto;
  display: block;
  width: 4rem;
  height: 4rem;
}

/* HOME PAGE */

.home {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 1rem;
}
.home a {
  text-align: center;
  text-decoration: none;
  border: thin solid white;
  border-radius: 20px;
  padding: 0.5rem;
  background-color: rgba(202, 198, 198, 0.28);
  transition: all 0.5s ease;
}
.home a:hover {
  transform: scale(1.05);
}

.home p {
  margin: 0;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
}

/* People Page */
.people-card {
  border: 1px solid white;
  border-radius: 20px;
  color: #ffffff;
  font-weight: bold;
  background-color: rgba(202, 198, 198, 0.28);
}

.people-card h3 {
  text-align: center;
}

.people-list {
  display: flex;
  justify-content: space-evenly;
}

/* Buttons People Page */

.buttons {
  display: flex;
  justify-content: space-evenly;
  grid-column: 1/-1;
}

.button {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgba(202, 198, 198, 0.28);
  color: white;
  cursor: pointer;
}
