* {
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

.wrap {
  display: grid;
  grid-template-rows: 5% 90% 5%;

  background-image: url("../assets/fondo.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;

  background-color: rgba(44, 44, 44, 0.5);
}

.logo {
  width: 10%;

  border-radius: 50%;
  cursor: pointer;
  margin: auto 0 auto 0.5rem;
}

.header h1 {
  margin: 0;
  font-family: Bowlby ONE SC, sans-serif;
  color: white;
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding: 1.5rem;
  margin-bottom: 0.5rem;
}

.card {
  display: grid;
  grid-auto-rows: 70% 30%;
  background-color: rgba(255, 255, 255, 0.3);
  transition: transform ease 0.5s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.02);
}

.card-img {
  padding: 0.2rem;
}

.card-img img {
  width: 100%;
  height: 100%;
}

.card-content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  padding: 0.2rem;
}

.card-content h2 {
}

.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: 600;
}

.card-list ul {
  padding-inline-start: 0;
  list-style: none;
}

.footer {
  color: white;
  background-color: rgba(44, 44, 44, 0.5);
  text-align: center;
  padding: 1rem;
}

.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  color: lightslategray;
}

@media (max-width: 600px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
  }
  .header {
    font-size: 0.6rem;
  }
}
